.car-cards-container {
  display: flex;
  align-items: flex-start;
  gap: 30px;
  flex: 1;
  padding: 30px;
}

.car-card {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: gray;
  border-radius: 8px;
  padding: 10px;
  width: 100px;
}
